

.body {
  padding: var(--mantine-spacing-md);
}


.title {
  font-weight: bold;
font-size: rem(50px) !important;
  line-height: 1.2;
}

.body {
  padding: var(--mantine-spacing-md);
}
.image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}