.card {
  position: relative;
  background-color: #fdfdfd;
}

.rating {
  position: absolute;
  top: var(--mantine-spacing-xs);
  right: rem(12px);
  pointer-events: none;
}

.title {
  display: block;
  margin-top: var(--mantine-spacing-md);
  margin-bottom: rem(5px);
}

.action {
  background-color: #052315;

  @mixin hover {
    background-color: #fdfdfd;
  }
}

.footer {
  margin-top: var(--mantine-spacing-md);
}
