.wrapper {
  margin-top: rem(120px);
  position: relative;
  padding-top: rem(180px);
  padding-bottom: rem(130px);
  background-image: url(/images/pos.png);
  /* background-image: url(https://entail.mayple.com/en-assets/mayple/6179a579f91da881be2c758b_morningbrewShVipPImS6kunsplash_5c8728bacb20daf02414ecbdf89e0418_2000-1699777146680.png); */
  background-size: cover;
  background-position: center;

  @media (max-width: 36em) {
    padding-top: rem(80px);
    padding-bottom: rem(50px);
  }
}
.inner {
  position: relative;
  z-index: 1;
}

.title {
  font-weight: 800;
  font-size: rem(60px);
  letter-spacing: rem(-1px);
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  color: #fdfdfd;
  /* color: #b2d93b; */
  margin-bottom: var(--mantine-spacing-xs);
  text-align: center;
  font-family: Greycliff CF, var(--mantine-font-family);

  @media (max-width: 36em) {
    font-size: rem(28px);
    /* text-align: left; */
  }
}

.highlight {
  color: var(--mantine-color-primary-4);
}

.description {
  color: #fdfdfd;
  text-align: center;

  @media (max-width: 36em) {
    font-size: var(--mantine-font-size-md);
    /* text-align: left; */
  }
}

.controls {
  margin-top: calc(var(--mantine-spacing-xl) * 1.5);
  display: flex;
  justify-content: center;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);

  /* @media (max-width: 36em) {
    flex-direction: column;
  } */
}

.control {
  height: rem(42px);
  font-size: var(--mantine-font-size-md);

  &:not(:first-of-type) {
    margin-left: var(--mantine-spacing-md);
  }

  @media (max-width: 36em) {
    &:not(:first-of-type) {
      margin-top: var(--mantine-spacing-md);
      margin-left: 0;
    }
  }
}

.secondaryControl {
  color: var(--mantine-color-white);
  background-color: rgba(255, 255, 255, 0.4);

  @mixin hover {
    background-color: rgba(255, 255, 255, 0.45);
  }
}
