.wrapper {
  /* margin-top:100px !important; */
  /* background-color: #fafafa; */
  position: relative;
  /* padding-top: rem(120px); */
  /* padding-bottom: rem(80px); */

  @media (max-width: 48em) {
    /* padding-top: rem(80px); */
    /* padding-bottom: rem(60px); */
  }
}

.inner {
  position: relative;
  z-index: 1;
}

.image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.title {
  text-align: center;
  font-weight: 800;
  font-size: rem(60px);
  letter-spacing: -1px;
  margin-top: 80px !important;
  color: #fdfdfd;
  margin-bottom: var(--mantine-spacing-xs);
  /* font-family: Greycliff CF, var(--mantine-font-family); */

  @media (max-width: 36em) {
    font-size: rem(28px);
    /* text-align: left; */
  }
}

.introTitle {
  text-align: center;
  font-weight: 800;
  font-size: rem(50px);
  letter-spacing: -1px;
  color: #052315;
  margin-bottom: var(--mantine-spacing-xs);
  /* font-family: Greycliff CF, var(--mantine-font-family); */

  @media (max-width: 36em) {
    font-size: rem(28px);
    /* text-align: left; */
  }
}

.highlight {
  color: light-dark(#b2d93b, var(--mantine-color-blue-4));
}

.description {
  text-align: center;
  color: #fdfdfd;

  @media (max-width: 36em) {
    /* text-align: left; */
    font-size: var(--mantine-font-size-md);
  }
}

.controls {
  margin-top: var(--mantine-spacing-lg);
  display: flex;
  justify-content: center;

  @media (max-width: 36em) {
    flex-direction: column;
    justify-content: center;
  }
}

.control {
  &:not(:first-of-type) {
    margin-left: var(--mantine-spacing-md);
  }

  @media (max-width: 36em) {
    height: rem(42px);
    font-size: var(--mantine-font-size-md);

    &:not(:first-of-type) {
      margin-top: var(--mantine-spacing-md);
      margin-left: 0;
    }
  }
}
