.wrapper {
  position: relative;
  padding-top: rem(50px);
  padding-bottom: rem(80px);

  @media (max-width: 48em) {
    padding-top: rem(80px);
    padding-bottom: rem(60px);
  }
}

.inner {
  position: relative;
  z-index: 1;
}

.dots {
  position: absolute;
  color: #546d62;

  @media (max-width: 48em) {
    display: none;
  }
}

.dotsLeft {
  left: 0;
  top: 0;
}

.title {
  text-align: center;
  font-weight: 800;
  font-size: rem(50px);
  letter-spacing: -1px;
  color: #fdfdfd;
  margin-bottom: var(--mantine-spacing-xs);
  /* font-family: Greycliff CF, var(--mantine-font-family); */

  @media (max-width: 36em) {
    font-size: rem(28px);
    text-align: left;
  }
}

.highlight {
  color: #b2d93b;
}

.description {
  text-align: center;

  @media (max-width: 36em) {
    text-align: left;
    font-size: var(--mantine-font-size-md);
  }
}

.controls {
  margin-top: var(--mantine-spacing-lg);
  display: flex;
  justify-content: center;

  @media (max-width: 36em) {
    flex-direction: column;
  }
}

.control {
  &:not(:first-of-type) {
    margin-left: var(--mantine-spacing-md);
  }

  @media (max-width: 36em) {
    height: rem(42px);
    font-size: var(--mantine-font-size-md);

    &:not(:first-of-type) {
      margin-top: var(--mantine-spacing-md);
      margin-left: 0;
    }
  }
}
